* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Roboto:wght@100&display=swap');

body {
     background-color: #000;
     font-family: 'Roboto', sans-serif;
     height: 100vh;
}

.encabezado {
    background-color: #000;
    border-bottom: #552583 2px solid;
    margin-bottom: 10px;
}

.boton {
    background-color:#FDB927;
    border: #552583 2px solid;
}

.tituloPrincipal {
    color: #FDB927;
    transition: 0.5s;
}

.tituloPrincipal:hover {
    color: #552583;
}

.enlaces {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    color: #FDB927;
    transition: 0.5s;
}

.enlaces:hover {
    color: #552583;
}

.logo {
    width: 100px;
}



h2 {
    text-align: center;
    color: rgb(238, 241, 4);
    text-decoration: none;
}

.form-label {
    color: #FDB927;
}

.form {
    padding: 20px;
    margin: 10px;
    border: #552583 2px solid;
    border-radius: 8px;
}

.enviar {
    width: 30vh;
    height: 5vh;
    font-weight: bold;
    border: #552583 2px solid;
    border-radius: 5px;
    background-color: #FDB927;
    margin-top: 10px;
    transition: 0.5s;
}

.enviar:hover {
    height: 6vh;
    font-weight: bold;
    color: #FDB927;
    background-color: #552583;
    border: #FDB927 2px solid;
}

p {
    font-size: 1rem;
    color: #FDB927;
}

.parraform {
    color: #FDB927;
}

.logros {
    color: #FDB927;
    text-align: center;
    list-style-type: none;
}

.ul {
    list-style-type: none;
}

footer {
    width: 100%;
    height: 80px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: rgb(238, 241, 4);
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 30px;
    background-color: #000;
    border-top: #552583 2px solid;
}

/* GALERIA DE IMAGENES */

img {
  width: 100%; 
  height: auto;
}
h2 {
  margin-bottom: .5em;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
}

@media (hover: none) { 
  .location-title {
    opacity: 1;
  }
  .location-image img {
    filter: blur(2px);
  }
}

/* VISTA TABLET */

@media (max-width: 991px) {
    .tituloPrincipal {
        display: none;
    }
    
    .form {
        text-align: center;
    }

}

/* VISTA MOBILE */

@media (max-width: 601px) {
    
}