@media (max-width: 991px) {
	.tituloPrincipal {
		display: none;
	}
}
@media (max-width: 800px) {
	.column {
		flex: 50%;
	}
	.form {
		text-align: center;
	}
}
@media (max-width: 600px) {
	.column {
		flex: 100%;
	}
	.video1 {
		display: flex;
	}
	.video2 {
		display: flex;
	}
}